[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
keras = "*"
numpy = "*"
pipenv-to-requirements = "*"
scipy = "*"
seaborn = "*"
spektral = "*"
sonnet = "*"
tensorflow = "*"
tensorflow-probability = "*"
graphs = "*"
dm-sonnet = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
